.homeDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: rgb(107, 7, 7);
  font-size: 4rem;
  margin-top: 30px;
  margin-bottom: 50px;
}

.btnHome {
  background-color: #ff6b6b;
  color: white;
  border: none;
  padding: 12px 50px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 30px;
}

.btnHome:hover {
  background-color: #ff4757;
}
